.navbar .navbar-nav .nav-link {
    color: white;
    font-size: 1.9em;
}
.navbar .navbar-nav .nav-link:hover {
  background-color: lightgrey;
  color: black;
  border-radius: 30px;
}
.navbar-nav.navbar-center {
    position: fixed;
    left: 50%;
    transform: translatex(-50%);
}

a.active, a:hover {
  background-color: lightgrey;
  color: black;
}
h1 {
    color: white;
}